<!DOCTYPE html>
<html lang="en">


<!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
<head>
    <%- include('./partials/head') %>
</head>

<body>
    <div class="page-wrapper">
       <%- include('./partials/header')  %>
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container d-flex align-items-center">
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>                                        
                        </ol>
                    </div>
                    <div class="col-md-6">
                    <form id="searchForm">
                        <div class="header-search d-flex align-items-center justify-content-center align-items-center">
                                                  
                            <div>
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" value="<%= typeof(search) !== undefined ? search : '' %>" class="form-control"  id="search" name="search" placeholder="Search in..." >
                            </div>
                            
                            <button class="btn" type="submit" style="border: none;"><i class="icon-search "></i></button>                        
                          
                        </div>
                    </form>
                    </div>
                </div>
            </nav>


            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						
                					</div>
                				</div>

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											
                                                <select name="sort" id="sort" class="form-control">
                                                    <option value="">Recommended</option>
                                                    <option value="low-to-high" <%= sort === 'low-to-high' ? 'selected' : '' %>>Price - Low to High</option>
                                                    <option value="high-to-low" <%= sort === 'high-to-low' ? 'selected' : '' %>>Price - High to low</option>
                                                </select>
                                                                                            
										</div>
                					</div><!-- End .toolbox-sort -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="row justify-content-center">
                                    <% if(!foundProducts.length) { %>
                                        <h5>NO PRODUCTS FOUND</h5>
                                    <% }else{ %>
                                        <% foundProducts.forEach((product) => { %>
                                            <% if(product.category.disabled === false) { %>

                                                <div class="col-6 col-md-4 col-lg-4">
                                                    <div class="product product-7 text-center">

                                                        <figure class="product-media">
                                                            
                                                            <a href="/product/<%= product._id %>">
                                                                <img src="<%= product.images[0] %>" alt="Product image" class="product-image">
                                                            </a>        
                                                            <form class="addToWishlistForm" action="/add-to-wishlist" method="post">
                                                                <div class="product-action-vertical">
                                                                    <% if (isLoggedIn) { %>
                                                                        <% if (currentUser && currentUser.wishlist.some(item => item.equals(product._id.toString()))) { %>
                                                                            <button type="button" onclick="removeItem('<%= product._id %>')" style="color: rgb(255, 28, 28);font-size: 2rem;cursor: pointer;background: none;border: none;">
                                                                                <i class="bi bi-heart-fill"></i>
                                                                            </button>
                                                                        <% } else { %>
                                                                            <input type="hidden" name="product" value="<%= product._id %>">                                                                       
                                                                            <button type="submit" style="color: white;font-size: 2rem;cursor: pointer;background: none;border: none;">
                                                                                <i class="bi bi-heart"></i>
                                                                            </button>
                                                                        <% } %>   
                                                                    <% } else { %>
                                                                        <a href="/login" style="color: white;font-size: 2rem;cursor: pointer;">
                                                                            <i class="bi bi-heart"></i>
                                                                        </a>
                                                                    <% } %>
                                                                    
                                                                </div>
                                                            </form>
                                                            
                                                            <form class="addToCartForm" action="/add-to-cart" method="post">
                                                            <div class="product-action">
                                                                <% if(!product.stock) { %>
                                                                    <a href="#" class="btn-product"><span>Currently Unavailable</span></a>                                      
                                                                <% } else { %>
                                                                    <% if (isLoggedIn) { %>
                                                                        <% if (currentUser && currentUser.cart.some(item => item.product.toString() === product._id.toString() )) { %>
                                                                            <a href="/cart" class="btn-product btn-cart"><span>Go To Cart</span></a>
                                                                        <% } else { %>
                                                                            <input type="hidden" name="product" value="<%= product._id %>">
                                                                            <input type="hidden" name="fixedQuantity" value="1"> 
                                                                            <input type="hidden" name="from" value="shop">
                                                                            <button type="submit" class="btn btn-product btn-cart" id="addToCartBtn<%= product._id %>" >
                                                                                <span>Add To Cart</span>
                                                                            </button>
                                                                        <% } %>   
                                                                    <% } else { %>
                                                                        <a href="/login" class="btn-product btn-cart"><span>Add To Cart</span></a>
                                                                    <% } %>                                                                      
                                                                <% } %>
                                                            </div>
                                                            </form>

                                                        </figure>
        
                                                        <div class="product-body text-center">
                                                            <div class="product-cat">
                                                                <a href="#"><%= product.category.name %></a>
                                                            </div>

                                                            <h3 class="product-title mb-1" style="font-size: 1.8rem; font-weight: 400;"><a href="/product/<%= product._id %>"><%= product.title %></a></h3><!-- End .product-title -->

                                                            <%  if(!product.stock) { %>
                                                                <div  style="display: inline-block;">
                                                                    <p class="text-danger">Currently Unavailable</p>
                                                                </div>

                                                            <% } else { %>

                                                                <div>
                                                                    <% let discountPercentage = 0; %>
                                                                    <% const currentDate = new Date() %>
                            
                                                                    <% if (product.isOfferActive && currentDate <= product.offerValidUpto) { %>   
                                                                        <% discountPercentage += product.offerPercentage %>
                                                                    <% } %> 
                            
                                                                    <% if (product.category.isOfferActive && currentDate <= product.category.offerValidUpto) { %>   
                                                                        <% discountPercentage += product.category.offerPercentage %>
                                                                    <% } %> 
                            
                                                                    <% if (discountPercentage > 90) { %>
                                                                        <% discountPercentage = 90 %>
                                                                    <% } %>
                            
                            
                                                                    <% if (discountPercentage !== undefined && discountPercentage !== null && discountPercentage !== 0 && discountPercentage <= 90) { %>   
                                                                        <% const discountedPrice = product.price - (discountPercentage/100) * product.price %>  
                                                                        <h6>
                                                                            <span>&#8377; <%= discountedPrice %></span>
                                                                            <small style="text-decoration: line-through;color:#999;">&#8377; <%= product.price %></small>
                                                                            <small class="text-success">(<%= discountPercentage %>% OFF)</small>
                                                                        </h6>                                
                                                                        
                            
                                                                    <% } else { %>
                                                                        <h6>&#8377; <%= product.price %></h6>
                                                                    <% } %> 
                                                                    
                                                                </div>

                                                            <% } %>
                                                                                                                                                                
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% }) %>
                                    <% } %>                            
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                            <!-- pagination -->
                            <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
                                <p>Page <%= currentPage %> of <%= totalPages %></p>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>" <% if(currentPage !== 1) { %> data-page-no="<%= currentPage - 1 %>" <% } %>>
                                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="<%= currentPage === 1 %>">
                                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                        </a>
                                    </li>                        
                                    <% for (let page = 1; page <= totalPages; page++) { %>
                                        <li class="page-item <%= currentPage === page ? 'active' : '' %>" aria-current="<%= currentPage === page ? 'page' : '' %>" <% if(currentPage !== page) { %> data-page-no="<%= page %>" <% } %>>
                                            <a class="page-link" href="#"><%= page %></a>
                                        </li>
                                    <% } %>                            
                                    <li class="page-item-total">of <%= totalPages %></li>
                                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>" <% if(currentPage !== totalPages) { %> data-page-no="<%= currentPage + 1 %>" <% } %>>
                                        <a class="page-link page-link-next" href="#" aria-label="Next">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                    </li>                                   
                                </ul>
                            </nav>
                            
                		</div>

                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="/shop">Clear</a>
                				</div>

        
                                <!-- category in filter -->
                                <div class="widget widget-collapsible">

    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3>

									<div class="collapse show" id="widget-1">
										<div class="widget-body">

											<div class="filter-items filter-items-count">
                                                <% if(!foundCategories.length) { %>
                                                    NO CATEGORY FOUND
                                                <% } else { %>
                                                    <% foundCategories.forEach ((category) => { %>
                                                        <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            
                                                            <input type="checkbox" class="custom-control-input" value="<%= category._id %>" name="category" id="<%= category._id %>" 
                                                            <%= categories && categories.includes(category._id.toString()) ? 'checked' : '' %>>

                                                            <label class="custom-control-label" for="<%= category._id %>"><%= category.name %></label>
                                                        </div>
                                                        <span class="item-count"><%= category.productsCount %></span>
                                                    </div>
                                                        
                                                    <% }) %>                                                    
                                                <% } %>
											</div>

										</div>
									</div>
        						</div>
                                
                                <!-- color in filter -->
        						<div class="widget widget-collapsible">
                                    
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
									        Colour
									    </a>
									</h3>

									<div class="collapse show" id="widget-3">
										<div class="widget-body">
                                        
                                            <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Orange" class="mr-2" <%= colors && colors.includes('Orange') ? 'checked' : '' %>> 
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #dd8e5c;"></span> Orange
                                        </a>
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Yellow" class="mr-2" <%= colors && colors.includes('Yellow') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #f0c04a;"></span> Yeloow
                                        </a>
                    
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Grey" class="mr-2" <%= colors && colors.includes('Grey') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #8b8b8b;"></span> Grey
                                        </a>
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Red" class="mr-2" <%= colors && colors.includes('Red') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #cc3333;"></span> Red
                                        </a> 
                                   
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Blue" class="mr-2" <%= colors && colors.includes('Blue') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #3399cc;"></span> Blue
                                        </a>
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Green" class="mr-2" <%= colors && colors.includes('Green') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #669933;"></span> Green
                                        </a>
                                                                          
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="Pink" class="mr-2" <%= colors && colors.includes('Pink') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #f2719c;"></span> Pink
                                        </a>
                                        <a class="d-flex align-items-center mb-1">
                                            <input type="checkbox" name="color" value="White" class="mr-2" <%= colors && colors.includes('White') ? 'checked' : '' %>>
                                            <span class="d-inline-block rounded-circle mr-2" style="width: 20px; height: 20px; background-color: #ebebeb;"></span> White
                                        </a>
                                                                        												                                                											
										</div>
									</div>
        						</div>

        						<!-- price in filter -->
        						<div class="widget widget-collapsible">
    								

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <select id="min-price" name="price" class="form-control">                                                    
                                                    <option value="">FILTER BY PRICE</option>
                                                    <option value="299" <%= price === '299' ? 'selected' : '' %>>&#8377; 300 and below</option>
                                                    <option value="300" <%= price === '300' ? 'selected' : '' %>>&#8377;  300 - &#8377;  500</option>
                                                    <option value="500" <%= price === '500' ? 'selected' : '' %>>&#8377;  500 - &#8377;  700</option>
                                                    <option value="700" <%= price === '700' ? 'selected' : '' %>>&#8377;  700 - &#8377;  900</option>
                                                    <option value="900" <%= price === '900' ? 'selected' : '' %>>&#8377;  900 and above</option>
                                                  </select>                                                
                                            </div>
										</div>
									</div>
        						</div>                
                		  </div>
                		</aside>
                	</div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') -%>
    </div><!-- End .page-wrapper -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <%- include('./partials/mobileMenu') -%>

    

    <script src="/user/js/jquery.min.js"></script>
    <script src="/user/js/bootstrap.bundle.min.js"></script>
    <script src="/user/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/js/jquery.waypoints.min.js"></script>
    <script src="/user/js/superfish.min.js"></script>
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/wNumb.js"></script>
    <script src="/user/js/bootstrap-input-spinner.js"></script>
    <script src="/user/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/js/nouislider.min.js"></script>
    <script src="/user/js/main.js"></script>

    
    <script>
        //sorting
        function submitForm() {
            document.getElementById("sortForm").submit();
        }
    </script>
    <script>
        //add to wishlist
        $(document).ready(function() {
           
            $('.addToWishlistForm').submit(function(event) {
               
                event.preventDefault();
    
               
                var formData = $(this).serialize();
                console.log(formData);
    
                
                $.ajax({
                    url: '/add-to-wishlist',
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {                
                        console.error('Error:', error);
                    }
                });
            });
        });
    
    </script>
    <script>
        //remove from wishlist
        function removeItem(productId) {

            console.log("button is triggered", productId)

            $.ajax({
                url: '/remove-from-wishlist/' + productId,
                type: 'POST',
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
    <script>

    $(document).ready(function() {
        // Handle the form submission with AJAX
        $('.addToCartForm').submit(function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Collect form data
            var formData = $(this).serialize();
            console.log(formData);

            // Make an AJAX request
            $.ajax({
                url: '/add-to-cart',
                type: 'POST',
                dataType: 'json',
                data: formData,
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle errors
                    console.error('Error:', error);
                }
            });
        });
    });

    </script>
    <script>

    $(document).ready(function() {
        function sendDataToServer() {          
      
          const selectedCategories = [];
          $("input[name='category']:checked").each(function() {
            selectedCategories.push($(this).val());
          });
          
          const selectedColors = [];
          $("input[name='color']:checked").each(function() {
            selectedColors.push($(this).val());
          });
    
          const selectedPrice = $("#min-price").val();
         
          const searchString = $("#search").val();

          const selectedSort = $("#sort").val();


          const requestData = {};   

          if (selectedCategories.length > 0) {
            requestData.categories = selectedCategories;
          }

          if (selectedColors.length > 0) {
            requestData.colors = selectedColors;
          }

          if (selectedPrice) {
            requestData.price = selectedPrice;
          }

          if (searchString) {
            requestData.search = searchString;
          }

          if (selectedSort) {
            requestData.sort = selectedSort;
          }

          const queryParams = $.param(requestData);
          const url = `/shop?${queryParams}`;

          window.location.href = url;
          
        
        }
      
        // Add event listeners
        $("input[name='category']").change(sendDataToServer);
           
        $("input[name='color']").change(sendDataToServer);

        $("#min-price").change(sendDataToServer);    
        
        $('#sort').change(sendDataToServer)

        $("#searchForm").submit(function (event) {
            event.preventDefault();
            sendDataToServer();
        });

      });
              
    </script>
    
    <script>
    $(document).ready(function() {
    $('.page-item').click(function(){
        const clickedButton = this;
        const pageNo = clickedButton.dataset.pageNo;

        // Get the current URL
        const url = new URL(window.location.href);

        // Check if the "param1" query parameter exists
        if (url.searchParams.has('page') && pageNo !== undefined) {
        // Update the value of "param1"
        url.searchParams.set('page', pageNo);
        } else if(pageNo !== undefined){
        // Add the "param1" query parameter
        url.searchParams.append('page', pageNo);
        }

        window.location.href = url;
    });
    });
 </script>



</body>
</html>