<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <div class="page-wrapper">
        
        <%- include('../partials/header') -%>                                              

        <main class="main">
    
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop/1">Shop</a></li>                        
                        <li class="breadcrumb-item" aria-current="page">User Profile</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="container py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
                        <div class="card shadow-2-strong">
        
                                <div class="card-body  text-center">
                                      <h4>CHANGE PASSWORD</h4>
                                </div>
    
                                <form  id="changePasswordForm" action="/change-password" method="post" >
                                    
                                    <div class="formInput">                              
                                        <label for="currentPassword">Current Password <span class="text-danger" >*</span></label>
                                        <input type="password" class="form-control form-control-md"  id="currentPassword" name="currentPassword"/>
    
                                        <span class="text-danger" id="oldPasswordError" ></span>
                                  </div>
                                   
              
                                  <div class="formInput">                              
                                        <label for="newPassword">New Password<span class="text-danger" >*</span></label>
                                        <input type="password" class="form-control form-control-md"  id="newPassword" name="newPassword"/>
    
                                        <span class="text-danger" id="newPasswordError" ></span>
                                  </div>
        
                                  <div class="formInput">
                                       <label for="confirmPassword">Confirm password<span class="text-danger" >*</span></label>
                                       <input  type="password" class="form-control form-control-md" id="confirmPassword" name="confirmPassword"/>
                                     
                                       <span class="text-danger" id="confirmPasswordError" ></span>

                                       <span id="commonError" class="text-danger"><%= error %></span>
                                  </div>
                                  
                                  
                                  <div  class="card-body text-center">
                                       <button class="btn btn-primary" type="submit">SUBMIT</button>
                                  </div>
                        
                                </form>
    
                          </div>
                      </div>
                  </div>
              </div>
        </main><!-- End .main -->
        <%- include('../partials/footer') -%>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <%- include('../partials/mobileMenu') -%>

    <script>
        const changePasswordForm = document.getElementById('changePasswordForm');
        const currentPassword = document.getElementById('currentPassword');
        const newPasswordInput = document.getElementById('newPassword');    
        const confirmPasswordInput = document.getElementById('confirmPassword');
    
        changePasswordForm.addEventListener('submit', (event) => {
          
          //set has errors false by default
          let hasErrors = false;
    
          //clear previous messages
          document.getElementById("commonError").innerHTML = "";
          document.getElementById("oldPasswordError").innerHTML = "";
          document.getElementById("newPasswordError").innerHTML = "";     
          document.getElementById("confirmPasswordError").innerHTML = "";          
            
          if (!currentPassword.value) {
              hasErrors = true;
              document.getElementById("oldPasswordError").innerHTML = "This field is required";
            }
        
            if (!newPasswordInput.value) {
              hasErrors = true;
              document.getElementById("newPasswordError").innerHTML = "This field is required";
            } else if(newPasswordInput.value.length < 8){
                hasErrors = true;
                document.getElementById("newPasswordError").innerHTML = "Password must be at least 8 characters long.";
            } else {
                const specialCharacters = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;
              if (!specialCharacters.test(newPasswordInput.value)) {
                hasErrors = true;
                document.getElementById("newPasswordError").innerHTML = "Password must contain special character."; 
              }
              const capitalLetters = /[A-Z]/;
              if (!capitalLetters.test(newPasswordInput.value)) {
                hasErrors = true;
                document.getElementById("newPasswordError").innerHTML = "Password must contain capital letters.";
              }
              const smallLetters = /[a-z]/;
              if (!smallLetters.test(newPasswordInput.value)) {
                hasErrors = true;
                document.getElementById("newPasswordError").innerHTML = "Password must contain small letters.";
              }
            }

            if (!confirmPasswordInput.value) {
              hasErrors = true;
              document.getElementById("confirmPasswordError").innerHTML = "This field is required";
            } else if (newPasswordInput.value !== confirmPasswordInput.value) {
              hasErrors = true;
              document.getElementById("confirmPasswordError").innerHTML = "new password and confirm password didn't match.";
            }
            
            
          if (hasErrors) {
            event.preventDefault();
          }

        });
    </script>

    <!-- Plugins JS File -->
    <script src="/user/js/jquery.min.js"></script>
    <script src="/user/js/bootstrap.bundle.min.js"></script>
    <script src="/user/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/js/jquery.waypoints.min.js"></script>
    <script src="/user/js/superfish.min.js"></script>
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/user/js/main.js"></script>
    
    

    
</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
</html>